//header
$body-backgound: rgba(177, 177, 177, 0.36);
$menu-btn:gray;
$menu-btn-icon: rgba(128, 128, 128, 0.52);
$menu-icom-bg:#3b4aa3;
//body
$characters-name:#fff;
$movie-color: rgba(226, 226, 226, 0.52);