.bla{
  transform: translateX(43%);
  transition: all .5s  ease-in;
}
.big__cardwrap {
  &--1 {
    width: 70%;
    background-image: linear-gradient(to left, #ed6768, #e54138);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;

    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 9%;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 50%;
      position: absolute;
      top: -10rem;
      left: -9%;
      @include respond(phone){
        top: -1rem;
      }
      @include respond(small-phone){
        left: -14%;
        top: -3rem;
        width: 59%;
      }
    }

    &-name {
      position: absolute;
      right: 36%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(tab-land){
        right: 29%;
      }
      @include respond(tab-port){
        right: 26%;
      }
      @include respond(phone){
        right: 10%;
      }
      @include respond(small-phone){
        right: 3%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 47rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land) {
        left: 42rem;
      }
      @include respond(tab-port){
        left: 33rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -38rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        bottom:-47rem;
      }
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }
    &-clipswrap{
      position: absolute;
      top: 78%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(phone){
        top: 89%;
        width: 65%;
        height: 15%;
      }
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--2 {
    width: 70%;
    background-image:linear-gradient(to left, #ec9e6e,#9f543d);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 9%;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 50%;
      position: absolute;
      top: -10rem;
      left: -5%;
      @include respond(phone){
        top: -7rem;
      }
      @include respond(small-phone){
        width: 59%;
      }
    }
    &-name {
      position: absolute;
      right: 36%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 3%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land) {
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
        top: 13rem;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -38rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        bottom:-47rem;
      }
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }
    &-clipswrap{
      position: absolute;
      top: 78%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(phone){
        top: 89%;
        width: 65%;
        height: 15%;
      }
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--3 {
    width: 70%;
    background-image:linear-gradient(to left, #8190b1,#333541);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 9%;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 50%;
      position: absolute;
      top: -10rem;
      left: -5%;
      @include respond(phone){
        top: -1rem;
      }
      @include respond(small-phone){
        left: -14%;
        top: -1rem;
        width: 59%;
      }
    }
    &-name {
      position: absolute;
      right: 36%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 3%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land) {
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -38rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        bottom:-47rem;
      }
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }

    }
    &-clipswrap{
      position: absolute;
      top: 78%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(phone){
        top: 89%;
        width: 65%;
        height: 15%;
      }
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  //moana
  &--4 {
    width: 70%;
    background-image:linear-gradient(to left, #e5614c,#c44031);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 27%;
      position: absolute;
      top: -13rem;
      left: 10%;
      @include respond(small-phone){
        width: 33%;
        position: absolute;
        top: -12rem;
        left: 10%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--5 {
    width: 70%;
    background-image:linear-gradient(to left, #e5614c,#c44031);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 37%;
      position: absolute;
      top: -12rem;
      left: 7%;
      @include respond(small-phone){
        width: 49%;
        position: absolute;
        top: -11rem;
        left: -1%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }

    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--6 {
    width: 70%;
    background-image:linear-gradient(to left, #e5614c,#c44031);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 30%;
      position: absolute;
      top: -12rem;
      left: 7%;
      @include respond(small-phone){
        width: 33%;
        position: absolute;
        top: -9rem;
        left: 7%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  //ralph
  &--7 {
    width: 70%;
    background-image:linear-gradient(to left, #80b2e0,#004285);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 30%;
      position: absolute;
      top: -12rem;
      left: 7%;
      @include respond(small-phone){
        width: 43%;
        position: absolute;
        top: -12rem;
        left: 6%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--8 {
    width: 70%;
    background-image:linear-gradient(to left,#e23827,#3b0b13);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 48%;
      position: absolute;
      top: -12rem;
      left: 0;
      @include respond(small-phone){
        width: 60%;
        position: absolute;
        top: -9rem;
        left: -4%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--9 {
    width: 70%;
    background-image:linear-gradient(to left, #9bcebd,#6da18b);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 30%;
      position: absolute;
      top: -12rem;
      left: 7%;
      @include respond(small-phone){
        width: 53%;
        position: absolute;
        top: -13rem;
        left: -2%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
//coco
  &--10 {
    width: 70%;
    background-image:linear-gradient(to left, #a22a29,#5e707e);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 30%;
      position: absolute;
      top: -12rem;
      left: 7%;
      @include respond(small-phone){
        width: 46%;
        position: absolute;
        top: -12rem;
        left: 10%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--11 {
    width: 70%;
    background-image:linear-gradient(to left,#674f61,#432c05);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 30%;
      position: absolute;
      top: -12rem;
      left: 0;
      @include respond(small-phone){
        width: 36%;
        position: absolute;
        top: -12rem;
        left: 10%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--12 {
    width: 70%;
    background-image:linear-gradient(to left, #64406e,#80548f);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 25%;
      position: absolute;
      top: -12rem;
      left: 7%;
      @include respond(small-phone){
        width: 31%;
        position: absolute;
        top: -12rem;
        left: 10%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
    }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }

  }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
//zootopia
  &--13 {
    width: 70%;
    background-image:linear-gradient(to left, #3e71a6,#d4ab77);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 48%;
      position: absolute;
      top: -20rem;
      left: 2%;
      @include respond(small-phone){
        width: 51%;
        position: absolute;
        top: -12rem;
        left: -1%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
      left: 42rem;
    }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--14 {
    width: 70%;
    background-image:linear-gradient(to left, #688269,#9c9056);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 50%;
      position: absolute;
      top: -12rem;
      left: 5%;
      @include respond(small-phone){
        width: 58%;
        position: absolute;
        top: -7rem;
        left: -1%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land){
      left: 42rem;
    }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--15 {
    width: 70%;
    background-image:linear-gradient(to left, #84834a,#936f5f);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 35%;
      position: absolute;
      top: -12rem;
      left: 7%;
      @include respond(small-phone){
        width: 42%;
        position: absolute;
        top: -12rem;
        left: 2%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land) {
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  //toy story
  &--16 {
    width: 70%;
    background-image:linear-gradient(to left, #64406e,#80548f);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 30%;
      position: absolute;
      top: -12rem;
      left: 2%;
      @include respond(small-phone){
        width: 39%;
        position: absolute;
        top: -12rem;
        left: 3%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land) {
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--17 {
    width: 70%;
    background-image:linear-gradient(to left, #c3d2bb,#6da538);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 48%;
      position: absolute;
      top: -12rem;
      left: 5%;
      @include respond(small-phone){
        width: 57%;
        position: absolute;
        top: -12rem;
        left: -5%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land) {
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &--18 {
    width: 70%;
    background-image:linear-gradient(to left, #64406e,#80548f);
    position: relative;
    //top: 200px;
    border-radius: 19px;
    left: 0%;
    height: 77vh;
    margin-top: 13rem;
    display: none;
    &-btn{
      position: absolute;
      right: 64px;
      top: -5rem;
      font-size: 1.8rem;
      font-family: 'Sniglet', sans-serif;
      cursor: pointer;
      @include respond(small-phone){
        right: 33px;
      }
    }
    &-card {
      position: relative;
    }
    &-img {
      width: 35%;
      position: absolute;
      top: -12rem;
      left: 7%;
      @include respond(small-phone){
        width: 42%;
        position: absolute;
        top: -12rem;
        left: -2%;
      }
    }
    &-name {
      position: absolute;
      right: 37%;
      top: 2rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(phone){
        right: 21%;
      }
      @include respond(small-phone){
        right: 11%;
        font-size: 2rem;
      }
    }
    &-info{
      width: 50%;
      position: absolute;
      left: 55rem;
      top: 13rem;
      color: $characters-name;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @include respond(tab-land) {
        left: 42rem;
      }
      @include respond(tab-port){
        left: 29rem;
      }
      @include respond(phone){
        left: 0;
        padding: 0 10px;
        width: 100%;
      }
      @include respond(small-phone){
        top: 8rem;
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }
    & strong{
      position: absolute;
      bottom: -50rem;
      left: 12rem;
      color: $characters-name;
      font-size: 3rem;
      @include respond(small-phone){
        left: 1rem;
        bottom: -42rem;
        font-size: 2rem;
      }
    }

    &-clipswrap{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-66%);
      width: 55%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      @include respond(small-phone){
        width: 75%;
        justify-content: space-between;
        height: 19%;
        left: 59%;
      }
      &-clipswrap1{
        width: 30%;
        height: auto;
      }
      & iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
}