.slide1{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #ed6768,#e54138);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &--img{
      position: absolute;
      top: -11rem;
      left: -2rem;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide2{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #ec9e6e,#9f543d);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
    &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -10rem;
      left: 3rem;
      width: 77%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide3{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #8190b1,#333541);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
    &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -6rem;
      left: 3rem;
      width: 81%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide4{
   &__card{
     width: 35rem;
     height: 29rem;
     background-image:linear-gradient(to left, #e5614c,#c44031);
     position: relative;
     top: 200px;
     border-radius: 25px;
     &:hover{
       box-shadow: 2px 1px 11px 2px #646da4;
       top: 180px;
       transition: all .5s;
     }
      &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
     &:hover &--img{
       transform: scale(1.1);
       transition:all .5s ;
     }
     &--img{
       position: absolute;
       top: -10rem;
       left: 24%;
       width: 42%;
     }
     &--name{
       position: absolute;
       bottom: 6%;
       left: 9%;
       color: $characters-name;
       font-size: 2rem;
       font-family: 'Sniglet', sans-serif;
       letter-spacing: 2px;
       font-weight: bold;
       & p{
         margin-top: 15px;
       }
       &-thick{
         font-weight: 100;
         font-size: 1.8rem;
       }
     }
     &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
   }
 }
.slide5{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #e5614c,#c44031);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -20rem;
      left: 7%;
      width: 87%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide6{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #e8973e,#3f6083);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -17rem;
      left: 7%;
      width: 63%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide7{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #80b2e0,#004285);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -17rem;
      left: 7%;
      width: 63%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide8{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left,#e23827,#3b0b13);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -11rem;
      left: -5%;
      width: 97%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide9{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #9bcebd,#6da18b);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -16rem;
      left: 12%;
      width: 66%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide10{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #a22a29,#5e707e);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -14rem;
      left: 23%;
      width: 66%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide11{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left,#674f61,#432c05);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -16rem;
      left: 12%;
      width: 59%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide12{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #64406e,#80548f);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -17rem;
      left: 12%;
      width: 50%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide13{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #3e71a6,#d4ab77);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -21rem;
      left: 0%;
      width: 90%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide14{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #688269,#9c9056);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -8rem;
      left: 5%;
      width: 95%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide15{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #84834a,#936f5f);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -17rem;
      left: 12%;
      width: 67%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide16{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #64406e,#80548f);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -17rem;
      left: 16%;
      width: 62%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide17{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #c3d2bb,#6da538);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -15rem;
      left: 7%;
      width: 82%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
.slide18{
  &__card{
    width: 35rem;
    height: 29rem;
    background-image:linear-gradient(to left, #64406e,#80548f);
    position: relative;
    top: 200px;
    border-radius: 25px;
    &:hover{
      box-shadow: 2px 1px 11px 2px #646da4;
      top: 180px;
      transition: all .5s;
    }
     &:hover &--info{
      opacity: 1;
      transition: all 1s;
    }
    &:hover &--img{
      transform: scale(1.1);
      transition:all .5s ;
    }
    &--img{
      position: absolute;
      top: -15rem;
      left: 13%;
      width: 66%;
    }
    &--name{
      position: absolute;
      bottom: 6%;
      left: 9%;
      color: $characters-name;
      font-size: 2rem;
      font-family: 'Sniglet', sans-serif;
      letter-spacing: 2px;
      font-weight: bold;
      & p{
        margin-top: 15px;
      }
      &-thick{
        font-weight: 100;
        font-size: 1.8rem;
      }
    }
    &--info{
      position: absolute;
      right: 9%;
      bottom: 6%;
      opacity: 0;
      &-link{
        text-decoration: none;
        color: $read-more-col;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  }
}
