.section__sliderwrap {
  padding-left: 2rem;
  position: relative;
  cursor: pointer;
  padding-bottom: 2rem;
  //display: none;
  &--social {
    position: absolute;
    top: 84.5%;
    left: 12%;
    &-link {
      text-decoration: none;
      color: $menu-btn;
      &:not(:first-child) {
        padding: 0 1rem;
      }
      &:hover {
        color: $menu-icom-bg;
      }
    }
  }
}

//slider
.bx-wrapper {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: #fff;
  max-width: 100% !important;
  margin: 0 auto;
}

.bx-viewport {
  height: 550px !important;
}

.bx-wrapper .bx-next {
  right: 8% !important;
  background: none !important;
  width: 5rem !important;
  &:hover {
    color: $menu-icom-bg;
  }
  &::after {
    content: "";
    position: absolute;
    right: 14%;
    top: 34%;
    display: block;
    width: 20%;
    height: 5%;
    background-color: black;
    transform: rotate(-43deg);
  }
  &::before {
    content: "";
    position: absolute;
    right: 14%;
    top: 16%;
    display: block;
    width: 20%;
    height: 5%;
    background-color: black;
    transform: rotate(43deg);
  }
}

.bx-wrapper .bx-prev {
  left: 85% !important;
  background: none !important;
  width: 5rem !important;
  &:hover {
    color: $menu-icom-bg;
  }
  &::after {
    content: "";
    position: absolute;
    left: -24%;
    top: 34%;
    display: block;
    width: 20%;
    height: 5%;
    background-color: black;
    transform: rotate(43deg);
  }
  &::before {
    content: "";
    position: absolute;
    left: -25%;
    top: 16%;
    display: block;
    width: 20%;
    height: 5%;
    background-color: black;
    transform: rotate(-43deg);
  }
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 100% !important;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: 0 !important;
  z-index: 9999;
  text-decoration: none;
  color: black;
  font-family: 'Sniglet', sans-serif;
  font-weight: bold;
}