.section__sliderwrap{
  padding: 0 3rem;
  padding-top: 5rem;
}
.bx-wrapper{
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border: none!important;
  background: #fff;
  max-width: 80%!important;
  margin: 0 auto;
}
.bx-viewport{
  height: 550px!important;
}